.Order {
    width: 100%;
    border: 1px solid #ccc;
    box-shadow: 0 2px 3px #000;
    padding: 35px 40px 20px 40px;
    margin: 30px auto 70px auto;
    box-sizing: border-box;
    max-width: 400px;
}