.BuildControls {
    width:             100%;
    background-color: #000000;
    display:           flex;
    flex-flow:         column;
    justify-content:   center;
    align-items:       center;
    box-shadow:        0 2px 1px #ccc;
    margin:            auto;
    padding:           10px 0;
    color:             #ffffff;
    font-family:       'Shadows Into Light', cursive;
    text-align:         center;
}

.OrderButton {
    background-color: #000000;
    border: 1px solid #555555;
    color: #ededed;
    width:  150px;
    height: 40px;
    font-size: 13px;
    font-style: italic;
    letter-spacing: .05em;
    margin: 35px auto 95px auto;
}

.OrderButton:disabled {
    color: #555555;
}

.Price {
    color: #ceb198;
}