.Burger {
    width:       100%;
    margin:      auto;
    height:      auto;
    overflow:    auto;
    text-align:  center;
    font-weight: bold;
    font-size:   1.2rem;
    margin:      20px auto;
}

.defaultText {
    font-family: 'Shadows Into Light', cursive;
    color: #ceb198;
    margin-top:  40px;
}

@media ( min-width: 500px ) and ( min-height: 400px ) {
    .Burger {
        width:  350px;
        height: auto
    }
}

@media ( min-width: 1000px ) and ( min-height: 700px ) {
    .Burger {
        width:  700px;
        height: auto;
    }
}

@media ( min-width: 500px ) and ( min-height: 401px ) {
    .Burger {
        width:  450px;
        height: auto;
    }
}

