.DeliveryInfo {
    margin: 20px auto;
    text-align: center;
    border-top: 1px solid #333;
}

.DeliveryInfo form {
    width: 85%;
    max-width: 400px;
    margin: 0 auto;
}

.DeliveryInfo input {
    width: 100%;
    height: 30px;
    margin: 7px auto;
    padding: 5px 15px;
    outline: none;
    border: 0px solid #333;
    background: #333;
    color: #ccc;
}

.DeliveryInfo button {
    width: 120px;
    background: #333;
    color: #999;
    font-weight: 300;
    font-size: 12px;
    padding: 12px 7px !important;
    letter-spacing: 2px;
    margin: 20px auto;
}