.BuildControl {
    display: flex;
    width: 300px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5px 0;
    color: #ffffff;
    border-bottom: 1px solid #222222;
}

.BuildControl button {
    display: block;
    font: inherit;
    padding: 5px;
    margin: 0 5px;
    width: 80px;
    border: 1px solid #000;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    color: #ffffff;
}

.BuildControl button:disabled {
    cursor: default;
}

.BuildControl button:hover:disabled {
    cursor: not-allowed;
}

.Label {
    padding: 10px;
    font-weight: bold;
    width: 80px;
    text-transform: uppercase;
    color: #ceb198;
}

.BuildControl .Less {  
    color: #999999;
}

.BuildControl .More {
    background-color: transparent;
}

.BuildControl .Less:hover, .BuildControl .Less:active {  
    color: #DAA972;
}

.BuildControl .More:hover,.BuildControl .More:active {
    color: #99703F;
}