.Toolbar {
    width: 100%;
    height: 86px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
    overflow: auto;
}

.Logo {
    display: flex;
    justify-content: left;
    align-items: center;
}

.Line {
    width: 25px;
    height: 2px;
    margin-bottom: 5px;
    background: #ffffff;
}
