.Modal {
    position: fixed;
    z-index: 500;
    width: 70%;
    padding: 0 26px;
    left: 15%;
    top: 10%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    text-align: left;
    border: 6px double #555555;
    background: #111111;
    color: #cccccc;
    font-family: 'Open Sans', sans-serif;
    font-weight:  350;
}

@media (min-width: 600px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
}