.NavigationItem {
    width: 100%;
    color: #ffffff;
    margin: 20px;
    border-bottom: 1px solid #333;
    padding: 20px 0;
    font-size: 12px;
    letter-spacing: .09em;
    text-transform: uppercase;
}

.NavigationItem a {
    color: #ffffff;
    text-decoration: none;
}

.NavigationItem a:hover, 
.NavigationItem a:active, 
.NavigationItem a.active {
    color: #999999;
}

.active {
    color: #ffc700 !important;
}