.SideDrawer {
    position: fixed;
    width: 300px;
    max-width: 100%;
    height: 100%;
    right: 0;
    top: 86px;
    z-index: 200;
    background-color:  #000000;
    padding: 32px 16px;
    box-sizing: border-box;
    text-align: left;
    z-index: 85;
    transition: all 0.3s ease-out;
}

@media (max-width: 500px) {
    .SideDrawer {
        width: 100%;
    }
}