.OrderSummary {
    font-style: italic;
}

.OrderSummary h3 {
    font-family: 'Shadows Into Light', cursive;
    font-size: 35px;
    text-transform: uppercase;
}


li {
    list-style-type: none;
    text-transform: capitalize;
}

.Price {
    color: #ceb198;
    font-weight: 700;
}

.Cost {
    color: #ffffff;
}