
img {
  margin-top:    -10px;
  margin-bottom: -10px;
}

.BreadBottom {
    transform: rotate(2deg);
    width: 300px;
    height: 70px;
}

.BreadTop {
    height: 115px;
    width: 300px;
    margin-bottom: -40px;
}

 .Tomato {
  height: 25px;
  width:  300px;
} 

.Lettuce {
  height: auto;
}

.Cheese {
  width: 290px;
  height: 15px;
  opacity: .9;
}

.Onion {
  height: auto;
}

.BeefPatty {
  height: 35px;
  width: 300px;
}

.Bacon {
  width:         300px;
  height:        auto;
  margin-top:    -20px;
  margin-bottom: -20px;
}