
body {
  margin:       0;
  padding:      40px 0 0 0;
  font-family: 'Open Sans', sans-serif;
  background: #000000;
  color: #ffffff;
  text-align: center;
}

h1 {
  color: #ffffff;
  font-family: 'Shadows Into Light', cursive;
}